<!DOCTYPE html>
<html ng-app="phaedo">
<head>
    <meta charset="UTF-8">
    <title>PHAEDO 斐多</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link href="css/site.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1O9N-77QOCYJ6wgsbJWgJYBJWd3K_VJg&sensor=false"></script>-->
    <link rel="stylesheet" href="//cdn.bootcss.com/slick-carousel/1.6.0/slick.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/slick-carousel/1.6.0/slick-theme.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.css">
    <link rel="stylesheet" href="css-static/imageviewer.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/angular-ui-select/0.20.0/select.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/textAngular/1.5.10/textAngular.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/angular-bootstrap-datetimepicker/1.1.4/css/datetimepicker.min.css">
</head>
<body class="padding-2">
<div ng-controller="IndexController" ng-class="{ 'no-banner': is_no_banner, 'stay-on-top': stay_on_top }">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-if="is_no_banner == false">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="/"><img src="images/phaedo_logo.fw.png" /></a></div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="home.course-list">我的课程</a></li>
                    <li><a ui-sref="public.exhibition-list" target="_exhibition">展厅</a></li>
                    <li><a ui-sref="public.public-wall">分享墙</a></li>
                    <!--<li><a ui-sref="public.air">AIR</a></li>-->
                    <li><a href>工具箱</a></li>
                </ul>
                <!---->
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default ng-hide" style="display: none">Submit</button>
                </form>
                <!---->
                <ng-include src="'partial/_calendar_dropdown.html'"></ng-include>
                <!---->
                <ng-include src="'partial/_notify_chat_dropdown.html'"></ng-include>
                <!---->
                <ng-include src="'partial/_user-dropdown.html'"></ng-include>
                <!---->
            </div>
        </div>
    </nav>

    <div ui-view class="view-container"></div>
    <ng-include src="'partial/_calendar-modal.html'"></ng-include>
    <ng-include src="'partial/_notify-modal.html'"></ng-include>
    <ng-include src="'partial/_chat-modal.html'"></ng-include>
    <ng-include src="'partial/_create-chat-modal.html'"></ng-include>
</div>
<script type="application/javascript" src="site-conf.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/angular.js/1.5.10/angular.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/angular.js/1.5.10/i18n/angular-locale_zh-cn.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/angular-sanitize/1.5.0/angular-sanitize.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/interact.js/1.2.9/interact.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/lodash.js/4.17.4/lodash.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/moment.js/2.18.1/moment.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/interact.js/1.2.9/interact.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/moment.js/2.18.1/locale/zh-cn.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/angular-moment/1.0.1/angular-moment.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/push.js/0.0.13/push.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/favico.js/0.3.10/favico.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/signalr.js/2.2.1/jquery.signalR.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/angular-signalr-hub/1.6.2/signalr-hub.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/slick-carousel/1.6.0/slick.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/angular-slick-carousel/3.1.7/angular-slick.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/angular-ui-select/0.20.0/select.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/textAngular/1.5.10/textAngular-rangy.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/textAngular/1.5.10/textAngular-sanitize.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/textAngular/1.5.10/textAngular.min.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/angular-bootstrap-datetimepicker/1.1.4/js/datetimepicker.js"></script>
<script type="application/javascript" src="//cdn.bootcss.com/angular-bootstrap-datetimepicker/1.1.4/js/datetimepicker.templates.min.js"></script>
<!--<script type="application/javascript" src="app/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar.min.js"></script>-->
<!--<script type="application/javascript" src="app/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>-->
<pd-signalr-hub-script></pd-signalr-hub-script>
<!--<script type="application/javascript" src="//localhost/v1/signalr/hubs"></script>-->
<!--<script type="application/javascript" src="http://10.168.18.154/v1/signalr/hubs"></script>-->
<!--<script type="application/javascript" src="//rd-dev.sce.pccu.edu.tw/v1/signalr/hubs"></script>-->
<script type="application/javascript" src="js/vendor.js"></script>
<script type="application/javascript" src="js/libs.js"></script>
<script type="application/javascript" src="js/main.js"></script>
</body>
</html>