<!DOCTYPE html>
<html ng-app="phaedo">
<head>
    <meta charset="UTF-8">
    <title>PHAEDO 斐多</title>
    <!--<link href="css/site.css" rel="stylesheet">-->
</head>
<body>
<div class="wxlogin-container">
    <div class="notice-bar">
        <div class="notice-box">
            <div class="title">关注微信帐号</div>
            <div class="image"><img ng-src="{{ notice_qr_image_src }}" /></div>
        </div>
    </div>
    <div class="qrcode-bar" ng-show="wxVisible">
        <div class="qrcode-box">
            <div class="title">微信登录</div>
            <div class="image">
                <img ng-src="{{ qrcode_image_src }}" />
            </div>
        </div>
    </div>
</div>
<!--<script type="application/javascript" src="js/vendor.js"></script>-->
<!--<script type="application/javascript" src="js/libs.js"></script>-->
<!--<script type="application/javascript" src="js/main.js"></script>-->
</body>
</html>