.air {
    .map-canvas {
        width: 100%;
        height: 400px;
        background-color: #0a7c71;

        .labels {
            color: #000;
            background-color: white;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
            //width: 40px;
            border: 2px solid #ccc;
            white-space: nowrap;
            padding: 5px 10px;
            border-radius: 14px;
        }
    }
}