.login-container {
    //margin-top: 80px;

    .panel-default {
        border: 0 none;
    }

    .logo {
        text-align: center;
        margin-bottom: 20px;
    }

    .btn-login {
        color: #ffffff;
        background-color: #BF1B26;
        border-color: transparent;
    }

    .btn-wechat {
        color: #ffffff;
        background: #339900 url('/images/wechat-logo-vector.png') no-repeat;
        background-position: 30px 5px;
    }

    .btn-register {
        color: #BF1B26;
        background: #ffffff;
        border: 1px solid #BF1B26;
    }
}