.wxlogin-container {
    padding: 20px 40px;
    height: 410px;

    .notice-bar {
        display: block;
        text-align: right;

        .notice-box {
            display: inline-block;

            .title {
                text-align: center;
            }
            .image {
                img {
                    width: 100%;
                    max-width: 100px;
                }
            }
        }
    }

    .qrcode-bar {
        .qrcode-box {
            .title {
                text-align: center;
            }
            .image {
                text-align: center;

                img {
                    width: 100%;
                    max-width: 200px;
                }
            }
        }
    }
}