@charset "utf-8";

body{
	font-family:微軟正黑體, Verdana, Geneva, sans-serif;
}

body.padding-1 {
	 padding-top: 50px;
 }
body.padding-2 {
	 padding-top: 100px;
 }
 
label{
	margin-top: 10px;
}
.btn-group{
	margin: 5px 10px;
}

.imagewrap-round{
	display: inline-block;
	border-radius: 50%;
	width: 50px;
	height:50px;
	background-size:cover!important;
	background-repeat:no-repeat!important;
}
.imagewrap-round.size-sm{
	width: 30px;
	height:30px;
}
.imagewrap-round.selected{
	border:solid 2px #F60;
}
.imagewrap-box{
	height:80px;
	padding: 5px;
	margin:0px 0px  10px 0px;
	color: #FFF;
	background-size:cover!important;
	background-repeat:no-repeat!important;
}
.navbar.navbar-fixed-top2{
	position:fixed;
	border-radius: 0;
	top: 50px;
    right: 0;
    left: 0;
	z-index: 1029;
}
.navbar-header.center-block{
	display:block;
	text-align:center;
	float: none;
	font-size:18px;
	padding: 15px 15px;
}
.navbar .pull-left{
	position: absolute;
	top: 0px;
	padding: 15px 15px;
}
.media.active{
	background-color:#FFFEF4;
}
.panel-body.hight-md{
	max-height: 200px;
	overflow:auto;
}
/*---*/
.card.col1{
	width: 300px;
}
.card .panel .panelImg img{
	width: 100%;
	height: auto;
}

/*---*/
.wallNavBar{
	text-align:center;
	padding: 5px 0px;
}

/*---*/
/*.commentUnit{
	position:relative;
	min-height: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.commentUnit .avatar{
	position:absolute;
}
.commentUnit .content{
	padding: 0px 0px 0px 40px;
	
}
.commentUnit .action{
	position:absolute;
	right: 20px;
	top: 15px;
}*/