mwl-calendar {
    position: fixed;
    width: 100%;
    height: 77%;
    overflow-x: hidden;
    overflow-y: auto;

    .cal-context {
        background-color: #fff;
    }

    [class*="cal-cell"] {
        .drop-active {
            background-color: #ffffcc;
        }
    }

    .cal-row-head [class*="cal-cell"] {
        background-color: #cccccc;

        .drop-active {
            background-color: #ffffcc;
        }
    }

    .cal-day-outmonth {
        background-color: #eee;
    }
}

.modal-calendar-create-form {
    .modal-dialog {
        top: -200px;
    }
}