.chat-info {
    //background-color: #7e61a0;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: 5px;

    .info {
        -webkit-flex: 1 1;
        flex: 1 1;
        overflow: auto;
        padding: 10px;

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
            }
        }

        .item {
            position: relative;
            overflow: hidden;
            margin: 25px 15px;

            &.creator {

                .message-body {
                    float: right;

                    .icon {
                        display: none;
                    }
                    .name {
                        display: none;
                    }
                    .message {
                        text-align: right;

                        .message-info {
                            background-color: #e5f6fb;
                        }
                    }
                    .time {
                        text-align: right;
                    }
                }
            }
            &.highlight {
                .message-body {
                    .message {
                        .message-info {
                            background-color: #FFF2AD;
                        }
                    }
                }
            }

            .message-body {
                max-width: 80%;

                .icon {
                    display: inline-block;
                }
                .name {
                    display: inline-block;
                }

                .message {
                    margin-top: 5px;
                    margin-bottom: 5px;

                    .message-info {
                        background-color: #eee;
                        padding: 5px 10px;
                        border-radius: 5px;
                        display: inline-block;
                        text-align: left;
                    }
                }

                .time {
                    padding-left: 10px;
                    color: #A6A6A6;
                }
            }
        }

        .loading {
            text-align: center;
        }
    }
    .info-action {
        width: 100%;
        height: 110px;
        background-color: #dddddd;
        -webkit-flex: none;
        flex: none;

        .chat-tips-panel {
            padding-top: 40px;
            color: #666;
        }
        .chat-panel {
            padding: 10px;

            .chat-input {
                margin-bottom: 6px;

                .form-control {
                    width: 100%;
                    overflow-y: auto;
                    -webkit-overflow-scrolling: touch;
                    resize: none;
                    border: 0 none;
                    outline: 0 none;
                    border-radius: 0;
                }
                textarea {
                    overflow: hidden;
                    //position: absolute;
                    //top: 0;
                    //left: 0;
                    //height: 100%;
                    //width: 100%;
                    resize: none;
                    border: 0 none;
                    line-height: 20px;
                    box-shadow: none;
                    //
                    word-break: break-word;
                    white-space: pre-wrap;
                }
            }
            .chat-send-button {
                text-align: right;
            }
            .chat-users {
                //display: none;
                position: absolute;
                background-color: #4AA02C;
                color: #ffffff;

                ul {
                    margin: 0;
                    padding: 6px;

                    li {
                        list-style-type: none;
                        margin-left: 0px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}