body {
    font-family: Helvetica Neue, PingFang SC, Microsoft Yahei, '\5FAE\8F6F\96C5\9ED1', STXihei, '\534E\6587\7EC6\9ED1', sans-serif;
    line-height: 20px;
}
.navbar-inverse {
    background: #ffffff none;
    border-bottom: 0 none;

    .navbar-header {
        .navbar-brand {
            img {
                width: 100%;
                max-width: 80px;
            }
        }
    }

    .navbar-nav {
        & > li > a {
            color: #000000;
            text-shadow: none;

            &:hover {
                color: #000000;
                border-bottom: 1px solid #000000;
                padding-bottom: 14px;
            }
            &:visited {
                color: #000000;
            }
        }
    }
}
.navbar {
    border-width: 0;
    border-bottom-width: 1px;

    &.navbar-default {
        .container {
            margin-top: 15px;
        }
    }

    .navbar-header {
        .course-type-image {
            margin-top: 15px;
            float: left;
        }
    }

    .pull-left {
        margin-top: 20px;
    }
}

.view-container {
    position: absolute;
    overflow-y: auto;
    top: 115px;
    bottom: 0;
    width: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.padding {
    padding: 10px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}