.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    //vertical-align: middle;
    //top: -50px;

    .modal-content {
        border: 0 none;
        border-radius: 0;

        -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
    }
}