.note-list {
    padding-left: 10%;
    padding-right: 10%;

    .media {
        &.hover, &:hover {
            background-color: #eee;
        }
    }    

    .add-note {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .note-title {
        font-size: 160%;
        margin: 10px 0px 0px 10px;
    }

    .note-desc {
        //background-color: #aaa;
        max-height: 300px;
        overflow: hidden;
        margin-left: 30px;
        &.hover, &:hover {
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
}