.public-exhibition-list {

}
.modal-exhibition-item, .public-exhibition-item {
    .modal-dialog {
        top: -350px;
    }

    .image {
        text-align: center;
        margin-bottom: 10px;
    }
    .description, .author-description {
        p {
            color: #666;
            margin-top: 10px;
        }
    }
    .author-description {
        background-color: #eeeeee;
        margin-top: 20px;
    }
    .padding-20 {
        padding: 20px;
    }
}