.public-wall {
    .container-fluid {
        margin-top: 15px;
    }

    .wall-wrapper {

        .panel {
            -webkit-box-shadow: 0 1px 15px rgba(0,0,0,.2);
            -moz-box-shadow: 0 1px 15px rgba(0,0,0,.2);
            box-shadow: 0 1px 15px rgba(0,0,0,.2);

            .panel-body {
                h4 {
                    word-break: break-all;
                }

                .school-name {
                    color: #999999;
                }
            }
            .panel-footer {
                .item {
                    margin-left: 10px;

                    &:first-child {
                        margin-left: 0;
                    }
                }

                a {
                    color: #999999;
                    text-decoration: none;

                    &:hover {

                        i {
                            zoom: 1.3;
                        }
                    }

                    &.active {
                        color: #337ab7;
                    }
                }
            }
        }
        li {
            list-style: none;
        }
    }

    .exhibitions {
        .exhibition {
            .item {
                padding: 5px;
                cursor: pointer;
                -webkit-user-select: none;
                   -moz-user-select: none;
                        user-select: none;

                &.hover {
                    background-color: #eeeeee;

                    .image {
                        img {
                            -moz-opacity: 1;
                            opacity: 1;
                        }
                    }
                }
                .button-container {
                    position: absolute;
                    background: rgba(0, 0, 0, 0.3);
                    padding: 3px 6px;

                    span {
                        padding: 3px;
                    }
                    a {
                        color: #ffffff;
                    }
                }
                .image {
                    width: 350px;
                    height: 100%;
                    min-height: 150px;
                    background-position: center;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;

                    img {
                        height: 100%;
                        max-height: 150px;
                        -moz-opacity: 0.8;
                        opacity: 0.8;
                    }
                }
                .description {
                    color: #9d9d9d;
                }
            }

            .item-add {
                .image {
                    background-color: #efefef;
                    border-radius: 10px;
                    padding: 38px 50%;
                }
                .fa {
                    font-size: 70px;
                    margin-left: -23px;
                    color: #cccccc;
                }
                .title {
                    text-align: center;
                }
            }
        }
    }
}
.modal-exhibition-form, .modal-exhibition-item-form {
    .modal-dialog {
        top: -300px;

        .form-group {
            .input-group {
                .input-group-btn {
                    .btn {
                        height: 34px;
                    }
                }
            }

            .image {
                width: 350px;
                height: 100%;
                min-height: 150px;
                background-position: center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                margin-top: 10px;

                img {
                    height: 100%;
                    max-height: 150px;
                    -moz-opacity: 0.8;
                    opacity: 0.8;
                }
            }
        }

        form.ng-submitted {
            input.ng-invalid {
                border-color: #ff0000;
            }
            .col-error {
                .btn {
                    border-color: #ff0000;
                }
            }
        }
    }
}

.modal-publicwall-item {
    .modal-dialog {
        top: -400px;
    }

    .tips {
        color: #aaaaaa;
        margin-left: 32px;
    }

    #wall-image-container {
        text-align: center;
    }

    .toolbar {
        width: 95%;
        margin: 0 auto;
        background-color: #f5f5f5;
        padding: 8px;

        .item {
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }
        }

        a {
            color: #999999;
            text-decoration: none;

            &:hover {

                i {
                    zoom: 1.3;
                }
            }

            &.active {
                color: #337ab7;
            }
        }
    }
    .chat-info {
        width: 95%;
        //margin: 0 auto;
        margin-left: auto;
        margin-right: auto;

        .info {
            margin-bottom: 5px;
            min-height: 50px;
            max-height: 250px;

            .item {
                margin: 10px 15px;
            }
        }
    }
}