.public-exhibition {
    .banner-container {
        margin-bottom: 20px;

        .banner {
            .image {
                img {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }

}
.modal-exhibition-item-form {
    .modal-dialog {
        top: -300px;
    }
}