<div class="air" ng-controller="AirController">
    <nav class="navbar navbar-default navbar-fixed-top2">
    </nav>
    <!--============-->
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <h2 >Air 驻地艺术家计划</h2>
        </div>
        <h4>驻地申请</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron text-center">
                    <h3>目前还有 <span class="label label-default">20</span> 个空余职位</h3>
                    <p></p>
                    <p><a class="btn btn-primary btn-lg" ui-sref="public.air-apply" role="button"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> 立即申請</a></p>
                </div>
            </div>
        </div>
        <h4>驻地计画</h4>
        <div class="row">
            <div class="col-sm-12">
                <div id="map_canvas" class="map-canvas"></div>
            </div>
        </div>
    </div>
</div>