<!--============-->
<div class="container theme-showcase" role="main">
    <nav class="navbar navbar-default navbar-fixed-top2">
    </nav>
    <div class="page-header">
        <a ui-sref="public.air"><h2>Air 驻地艺术家计划</h2></a>
    </div>
    <h4>驻地申请</h4>
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron text-center">
                <h3>请下载 <a href>申请表单</a></h3>
                <p></p>
                <p>表单填写完毕后，请发送邮件到：admin@phado.com</p>
            </div>
        </div>
    </div>
</div>