<ul class="nav navbar-nav navbar-right navbar-notify" ng-controller="CalendarDropdownController" ng-if="user">
    <li>
        <a href ng-click="toggleCalendar()">
            <img src="images/icon-calendar.png" />
        </a>
    </li>
</ul>