<div class="modal-fixed"
     ng-controller="CalendarModalController"
     ng-class="{ 'modal-fixed-show': show_calendar, 'modal-fixed-hide': !show_calendar }">
    <h2 class="text-center">{{ calendar.calendarTitle }}</h2>
    <div class="row">
        <div class="col-md-5 text-center">
            <div class="btn-group">
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="calendar.viewDate"
                        decrement="calendar.calendarView"
                        ng-click="calendar.cellIsOpen = false">
                    Previous
                </button>
                <button
                        class="btn btn-default"
                        mwl-date-modifier
                        date="calendar.viewDate"
                        set-to-today
                        ng-click="calendar.cellIsOpen = false">
                    Today
                </button>
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="calendar.viewDate"
                        increment="calendar.calendarView"
                        ng-click="calendar.cellIsOpen = false">
                    Next
                </button>
            </div>
        </div>
        <br class="visible-xs visible-sm">
        <div class="col-md-5 text-center">
            <div class="btn-group">
                <button class="btn btn-primary" ng-model="calendar.calendarView" uib-btn-radio="'year'" ng-click="calendar.cellIsOpen = false">Year</button>
                <button class="btn btn-primary" ng-model="calendar.calendarView" uib-btn-radio="'month'" ng-click="calendar.cellIsOpen = false">Month</button>
                <button class="btn btn-primary" ng-model="calendar.calendarView" uib-btn-radio="'week'" ng-click="calendar.cellIsOpen = false">Week</button>
                <button class="btn btn-primary" ng-model="calendar.calendarView" uib-btn-radio="'day'" ng-click="calendar.cellIsOpen = false">Day</button>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <input type="button" class="btn btn-primary" value="新建事件" ng-click="openCreateEvent()" />
        </div>
    </div>
    <mwl-calendar
            events="calendar.events"
            view="calendar.calendarView"
            view-title="calendar.calendarTitle"
            view-date="calendar.viewDate"
            on-event-click="calendar.eventClicked(calendarEvent)"
            on-event-times-changed="calendar.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            cell-is-open="calendar.cellIsOpen"
            day-view-start="00:00"
            day-view-end="23:59"
            day-view-split="30"
            cell-modifier="calendar.modifyCell(calendarCell)"
            cell-auto-open-disabled="true"
            on-timespan-click="calendar.timespanClicked(calendarDate, calendarCell)">
    </mwl-calendar>
    <script type="text/ng-template" id="modalCreateEvent.html">
        <div class="modal-header">
            <h4 class="modal-title">新建日历事件</h4>
        </div>
        <div class="modal-body">
            <form name="createForm" class="form-horizontal" novalidate ng-submit="submitForm(createForm)">
                <fieldset>
                    <!-- Title input-->
                    <div class="form-group"
                         ng-class="{ 'has-error' : createForm.$submitted && createForm.title.$invalid}">
                        <label class="col-md-3 control-label" for="title">标题</label>
                        <div class="col-md-7">
                            <input id="title" name="title" type="text"
                                   placeholder="标题"
                                   class="form-control input-md" required
                                   ng-model="data.title" />
                        </div>
                    </div>
                    <!-- Description input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="description">描述</label>
                        <div class="col-md-7">
                            <textarea id="description" placeholder="描述"
                                      class="form-control" rows="6"
                                      ng-model="data.description"></textarea>
                        </div>
                    </div>
                    <!-- Datetime input-->
                    <div class="form-group"
                         ng-class="{ 'has-error' : createForm.$submitted && createForm.datetimeDropdown.$invalid}">
                        <label class="col-md-3 control-label" for="datetime-dropdown">事件时间</label>
                        <div class="col-md-7">
                            <div uib-dropdown id="dropdown2" is-open="status.calendar_isopen">
                                <input type="text" id="datetime-dropdown" name="datetimeDropdown"
                                       uib-dropdown-toggle
                                       class="form-control"
                                       placeholder="時間"
                                       ng-model="data.datetime"
                                       date-time-input="YYYY-MM-DD HH:mm"
                                       required />
                                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="datetime-dropdown">
                                    <datetimepicker ng-model="data.datetime"
                                                    datetimepicker-config="{ dropdownSelector: '#dropdown2' }"
                                                    on-set-time="onTimeSet(newDate, oldDate)"/>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7 col-md-offset-3">
                            <input type="submit" class="btn btn-primary" value="儲存" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </script>
</div>