<div class="chat-info">
    <section class="info" pd-scroll-to-bottom="scroll_to_bottom">
        <ul ng-show="message_loaded">
            <li class="item"
                ng-repeat="message in message_list track by $index"
                ng-class="{ 'creator': message.man_no == user.man_no, 'highlight': parseMessageOfYou(message.message, user.man_name) }">
                <div class="message-body">
                    <div class="icon"><img src="images/icon-profile.png" /></div>
                    <div class="name" ng-bind="message.man_name"></div>
                    <div class="message">
                        <div class="message-info" ng-bind-html="parseHTML(message.message)"></div>
                    </div>
                    <div class="time" ng-bind="message.createdate"></div>
                </div>
            </li>
        </ul>
        <div class="loading" ng-hide="message_loaded">
            <img src="images/rolling.svg" />
        </div>
    </section>
    <footer class="info-action">
        <div class="chat-tips-panel text-center" ng-if="!user">
            尚未登入，无法参与讨论
        </div>
        <div class="chat-panel" pd-chat-at-users="data.show_chat_users" ng-if="user && message_loaded">
            <div class="chat-users" ng-show="data.show_chat_users && user_list.length > 0">
                <ul>
                    <li ng-repeat="user in user_list track by $index"
                        ng-click="addUser(user)">@ {{ user.man_name }}</li>
                </ul>
            </div>
            <div class="chat-input">
                <textarea type="text" placeholder="按 Ctrl+Enter 快速發布" class="form-control comment-input"
                          ng-model="data.message"
                          focus-if="data.focus_in_message"
                          ng-blur="data.focus_in_message = false"
                          save-enter="sendMessage(data.message)"></textarea>
            </div>
            <div class="chat-send-button">
                <button type="button" class="btn btn-primary" ng-click="sendMessage(data.message)">Send</button>
            </div>
        </div>
    </footer>
</div>