<div class="chat-modal"
     ng-controller="ChatModalController"
     ng-show="show_chatmodal">
    <div class="chat-modal-backdrop"></div>
    <div class="chat-modal-content">
        <div class="header">
            <center>
                <strong>
                        <span class="title">
                            聊天
                        </span>
                </strong>
            </center>
            <a href class="close-handler" ng-click="closeChatModal()">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="content">
            <div class="chat-list">
                <div class="item"
                     ng-click="openChat(item)"
                     ng-class="{ 'hover': item.hover, 'active': item.active }"
                     ng-repeat="item in chat_list | orderBy: 'time': true"
                     ng-mouseover="item.hover = true"
                     ng-mouseleave="item.hover = false">
                    <div class="avatar">
                        <img src="images/icon-profile.png" ng-show="item.group_type == 1" />
                        <img src="images/icon-class.png" ng-show="item.group_type == 2" />
                    </div>
                    <div class="name" ng-bind="item.group_name"></div>
                    <span class="badge" ng-bind="item.unreadCount" ng-show="item.unreadCount > 0"></span>
                    <div class="message" ng-bind="item.message"></div>
                    <div class="time" ng-if="item.time">
                        <div ng-bind="parseChatListTime(item.time)"></div>
                        <div class="daysago" am-time-ago="item.time"></div>
                    </div>
                </div>
            </div>
            <div class="chat-info">
                <section class="info" pd-scroll-to-bottom="scroll_to_bottom">
                    <ul ng-show="message_loaded">
                        <li class="item"
                            ng-repeat="message in message_list track by $index"
                            ng-class="{ 'creator': message.man_no == user.man_no, 'highlight': parseMessageOfYou(message.message, user.man_name) }">
                            <div class="message-body">
                                <div class="icon"><img src="images/icon-profile.png" /></div>
                                <div class="name" ng-bind="message.man_name"></div>
                                <div class="message">
                                    <div class="message-info" ng-bind-html="parseHTML(message.message)"></div>
                                </div>
                                <div class="time" ng-bind="message.createdate"></div>
                            </div>
                        </li>
                    </ul>
                </section>
                <footer class="info-action">
                    <div class="chat-panel" pd-chat-at-users="show_chat_users">
                        <div class="chat-users" ng-show="show_chat_users">
                            <ul>
                                <li
                                    ng-repeat="user in user_list track by $index"
                                    ng-click="addUser(user)">@ {{ user.man_name }}</li>
                            </ul>
                        </div>
                        <div class="chat-input">
                            <textarea type="text" placeholder="@提及他人，按 Ctrl+Enter 快速發布" class="form-control comment-input"
                                      ng-model="message"
                                      focus-if="focus_in_message"
                                      ng-blur="focus_in_message = false"
                                      save-enter="sendMessage(message)"></textarea>
                        </div>
                        <div class="chat-send-button">
                            <button type="button" class="btn btn-primary" ng-click="sendMessage(message)">Send</button>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>