<div class="course-list" role="main" ng-controller="CourseListController">
    <!--============-->
    <nav class="navbar navbar-default navbar-fixed-top2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" ui-sref="home.course-list" ng-if="false && state_name == 'home.course-list'">斐多</a>
                <a class="navbar-brand" ui-sref="home.course-list" ng-if="state_name == 'home.archive'">归档课程</a>
            </div>
            <div class="navbar-collapse collapse navbar-right" ng-hide="true" style="display: none !important;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!--============-->

    <div class="container theme-showcase" ng-cloak>
        <div class="page-header">
            <div class="header-menu">
                <button type="button" class="btn btn-default pull-right"
                        ng-class="{ 'btn-primary': state_name == 'home.archive'}"
                        ng-click="goArchive()">归档课程</button>
                <button type="button" class="btn btn-default pull-right"
                        ng-class="{ 'btn-primary': state_name == 'home.course-list'}"
                        ng-click="goCurrent()">当前课程</button>
            </div>
            <div class="course-items" ng-repeat="item in items">
                <h3><span ng-bind="item.displayName"></span></h3>
                <div class="row">
                    <div class="col-sm-3 course-item" ng-repeat="course in item.courses">
                        <div ng-click="setCurrentCourse(course)">
                            <div class="imagewrap-box" ng-style="{'background-image': 'url(' + course.course_image + ')'}">
                                <div class="course-info-header">
                                    <span class="course-name" ng-bind="course.course_name"></span>
                                    <span class="course-icon"><img ng-src="{{ course.course_type_image }}" /></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>