<div class="chat-modal"
     ng-controller="CreateChatModalController"
     ng-show="show_create_chatmodal">
    <div class="chat-modal-backdrop"></div>
    <div class="chat-modal-content">
        <div class="header">
            <center>
                <strong>
                        <span class="title">
                            發起聊天
                        </span>
                </strong>
            </center>
            <a href class="close-handler" ng-click="closeCreateChatModal()">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="content">
            <div class="chat-list create-chat-list">
                <ul>
                    <li ng-repeat="item in create_chat_list">
                        <div class="item"
                             ng-class="{ 'hover': item.hover, 'active': item.active }"
                             ng-click="getRoomList(item.type)"
                             ng-mouseover="item.hover = true"
                             ng-mouseleave="item.hover = false">
                            <div class="tab-item">
                                <div class="icon">
                                    <i class="fa"
                                       ng-class="{ 'fa-commenting': item.icon == 'fa-commenting',
                                                   'fa-comments': item.icon == 'fa-comments'}"></i>
                                </div>
                                <div class="title" ng-bind="item.title"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-info">
                <ul class="room-list">
                    <li class="room-list-item"
                        ng-repeat="room in room_list"
                        ng-click="openChatTo(room)">
                        <div class="room-item">
                            <div class="room-left-side">
                                <img src="images/icon-profile.png" ng-show="room.room_type == 'personal'" />
                                <img src="images/icon-class.png" ng-show="room.room_type == 'class'" />
                            </div>
                            <div class="room-content">
                                <p class="room-name" ng-bind="room.room_name"></p>
                                <p class="room-subname" ng-bind="room.room_subname"></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>