<div class="public-wall public-exhibition" ng-controller="ExhibitionController">
    <!--============-->
    <nav class="navbar navbar-default navbar-fixed-top2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" ui-sref="public.public-wall">展厅</a></div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!--============-->
    <div class="container-fluid">
        <div class="row banner-container">
            <div class="col-md-8 col-md-offset-2">
                <div class="banner">
                    <div class="image"><img ng-src="{{ exhibition.exhibition_banner_url }}"></div>
                    <div class="title"><h1>{{ exhibition.exhibition_title }}</h1></div>
                    <div class="description" ng-if="false">
                        <block>
                            古斯塔夫·克林姆生於維也納，是一位奧地利知名象徵主義畫家。他創辦了維也納分離派，也是所謂維也納文化圈代表人物。
                            古斯塔夫·克林姆畫作特色在於特殊的象徵式裝飾花紋，並在畫作中大量使用性愛主題。喜歡他畫作的人稱讚有其「沉悶美感」與大膽象徵寓意，但是卻也招致不少保守派畫家的負面評價。
                            克林姆畫作另一特色為畫中主角大部分都是女人，主題則為「愛」、「性」、「生」與「死」的輪迴宿命。
                            克林姆1918年因患上西班牙型流行性感冒而身故。
                        </block>
                    </div>
                </div>
            </div>
        </div>
        <!--=======-->
        <div class="row">
            <div class="col-md-12">
                <input type="button" class="btn btn-default" value="新增项目" ng-click="gotoEdit(-1, null)">
            </div>
        </div>
        <ul class="wall-wrapper" angular-grid="wall">
            <!--  -->
            <li class="card share share-self col1"
                ng-repeat="item in wall" ng-init="file = item.wall_files[0]">
                <div class="panel panel-primary">
                    <div class="panelImg"><img alt="Social post" ng-src="{{ file.image_url }}"></div>
                    <div class="panel-body">
                        <h4 ng-bind="item.wall_name"></h4>
                        <p>作者：王大明</p>
                        <p ng-bind="item.wall_desc"></p>
                    </div>
                    <div class="panel-footer"><a href=""><i class="fa fa-commenting" aria-hidden="true"></i>
                        3</a> <a href=""><i class="fa fa-paperclip" aria-hidden="true"></i> 5</a></div>
                </div>
            </li>
            <li class="card share share-self col1"
                ng-repeat="item in exhibition_items">
                <div class="panel panel-primary">
                    <div class="panelImg"></div>
                    <div class="panel-body">
                        <h4></h4>
                        <p></p>
                    </div>
                    <div class="panel-footer"><a href=""><i class="fa fa-commenting" aria-hidden="true"></i>
                        3</a> <a href=""><i class="fa fa-paperclip" aria-hidden="true"></i> 5</a></div>
                </div>
            </li>
        </ul>
        <!-- START SOCIAL WRAPPER -->
        <div class="social-wrapper" ng-if="false">
            <!-- START SOCIAL -->
            <div class="social" data-pages="social">
                <!--  *** SOCIAL COVER GOES HERE ***  -->
                <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                    <div class="feed">
                        <!-- START DAY -->
                        <div class="day" data-social="day">

                            <!--  -->
                        </div>
                        <!-- END FEED -->
                    </div>
                    <!-- END CONTAINER FLUID -->
                </div>
                <!-- END SOCIAL -->
            </div>
            <!-- END SOCIAL WRAPPER -->
        </div>

    </div>
    <!-- 新增 / 編輯展廳項目 -->
    <script type="text/ng-template" id="modalExhibitionItemForm.html">
        <div class="modal-header">
            <h4 class="modal-title" ng-if="!exhibition">新增展厅項目</h4>
            <h4 class="modal-title" ng-if="exhibition">编辑展厅項目</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="form" novalidate ng-submit="submitForm(form)">
                <div class="form-group">
                    <label class="col-md-4 control-label">展廳項目名稱</label>
                    <div class="col-md-4">
                        <input class="form-control" type="text"
                               ng-model="data.title"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">展廳項目描述</label>
                    <div class="col-md-4">
                        <input class="form-control" type="text"
                               ng-if="false"
                               ng-model="data.description"
                               required>
                        <textarea class="form-control" rows="5"
                                  ng-model="data.description"
                                  required>
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">上傳展廳項目</label>
                    <div class="col-md-4" ng-class="{'col-error': form.attachment_no.$invalid}">
                        <button type="file" class="btn btn-default"
                                ngf-select="uploadFiles($file, $invalidFiles)"
                                accept="*" ngf-max-size="500MB">
                            <i class="fa fa-paperclip" aria-hidden="true"></i> 上传档案
                        </button>
                        <input type="hidden" name="attachment_no"
                               ng-model="data.attachment_no"
                               required />
                        <span>{{ data.attachment_name }}</span>
                        <div class="image"
                             ng-show="data.image_url"
                             ng-style="{ 'background-image': 'url(' + data.image_url + ')'}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4">
                        <input type="submit" class="btn btn-primary" value="送出" />
                    </div>
                </div>
            </form>
        </div>
    </script>
</div>