<div class="public-wall public-exhibition-list" ng-controller="ExhibitionListController">
    <!--============-->
    <nav class="navbar navbar-default navbar-fixed-top2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" ui-sref="public.public-wall">{{ exhibition.exhibition_title }}</a></div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!--============-->
    <div class="container-fluid">
        <ul class="wall-wrapper" angular-grid="exhibition_items">
            <li class="card share share-self col1"
                ng-repeat="item in exhibition_items"
                ng-init="attachments = item.exhibition_item_attachment">
                <div class="panel panel-default">
                    <div class="panelImg">
                        <a
                            ui-sref="public.exhibition-item({ 'exhibition_no': exhibition.exhibition_no,
                                'exhibition_item_no': item.exhibition_item_no })"
                            z-ng-click="gotoExhibitionItem(item)">
                            <img title="{{ item.exhibition_item_name }}" ng-src="{{ attachments[0].attachment_url }}" />
                        </a>
                    </div>
                    <div class="panel-body">
                        <h4>{{ item.exhibition_item_name }}</h4>
                        <p></p>
                    </div>
                    <div class="panel-footer" ng-if="false"><a href=""><i class="fa fa-commenting" aria-hidden="true"></i>
                        3</a> <a href=""><i class="fa fa-paperclip" aria-hidden="true"></i> 5</a></div>
                </div>
            </li>
        </ul>
        <!-- START SOCIAL WRAPPER -->
        <div class="social-wrapper" ng-if="false">
            <!-- START SOCIAL -->
            <div class="social" data-pages="social">
                <!--  *** SOCIAL COVER GOES HERE ***  -->
                <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                    <div class="feed">
                        <!-- START DAY -->
                        <div class="day" data-social="day">

                            <!--  -->
                        </div>
                        <!-- END FEED -->
                    </div>
                    <!-- END CONTAINER FLUID -->
                </div>
                <!-- END SOCIAL -->
            </div>
            <!-- END SOCIAL WRAPPER -->
        </div>
    </div>
    <script type="text/ng-template" id="modalExhibitionItem.html">
        <div class="modal-header">
            <h4 class="modal-title">{{ item.exhibition_item_name }}</h4>
        </div>
        <div class="modal-body" ng-init="attachments = item.exhibition_item_attachment">
            <div class="row">
                <div class="col col-md-12 image">
                    <img title="{{ item.exhibition_item_name }}" ng-src="{{ attachments[0].attachment_url }}" />
                </div>
                <div class="col col-md-12 description">
                    <p ng-bind-html="parseHTML(item.exhibition_item_description)"></p>
                </div>
                <div class="col col-md-12 author-description">
                    <p ng-bind-html="parseHTML(item.exhibition_item_author)"></p>
                </div>
            </div>
        </div>
    </script>
</div>