<div class="public-wall public-exhibition-item" ng-controller="ExhibitionItemController">
    <!--============-->
    <nav class="navbar navbar-default navbar-fixed-top2" ng-if="false">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" ui-sref="public.public-wall">{{ exhibition.exhibition_title }}</a></div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!--============-->
    <div class="padding padding-20">
        <div class="row">
            <div class="col col-md-12 image">
                <img title="{{ exhibition_item.exhibition_item_name }}" ng-src="{{ attachment.attachment_url }}" />
            </div>
            <div class="col col-md-12 description">
                <p ng-bind-html="parseHTML(exhibition_item.exhibition_item_description)"></p>
            </div>
            <div class="col col-md-12 author-description">
                <p ng-bind-html="parseHTML(exhibition_item.exhibition_item_author)"></p>
            </div>
        </div>
    </div>
</div>