<div class="container login-container" ng-controller="LoginController">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="logo">
                        <img src="images/phaedo-logo.png" />
                    </div>
                    <form role="form" name="loginForm" novalidate ng-submit="submitLoginForm(loginForm)">
                        <fieldset>
                            <div class="form-group"
                                 ng-class="{ 'has-error' : loginForm.$submitted && loginForm.man_id.$invalid}">
                                <input class="form-control"
                                       placeholder="Id"
                                       name="man_id"
                                       type="text"
                                       ng-model="user.man_id"
                                       required>
                            </div>
                            <div class="form-group"
                                 ng-class="{ 'has-error' : loginForm.$submitted && loginForm.man_pwd.$invalid}">
                                <input class="form-control"
                                       placeholder="Password"
                                       name="man_pwd"
                                       type="password"
                                       ng-model="user.man_pwd"
                                       required>
                            </div>
                            <input class="btn btn-block btn-login" type="submit" value="登入">
                            <input id="wxlogin" class="btn btn-block btn-wechat" type="button" value="使用微信登入"
                                   data-src="wxlogin.html"
                                   x-onClick="window.open ('wxlogin.html', 'wxlogin', 'width=550,height=430,location=0,menubar=0,scrollbars=0,status=0,toolbar=0,resizable=0')"
                                   ng-click="clickToWXLogin()">
                        </fieldset>
                    </form>
                    <hr/>
                    <input class="btn btn-block btn-register" type="button" value="还没有帐号？免费注册">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

                <div class="close-button">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" frameborder="0"></iframe>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->