<div class="my-note" ng-controller="MyNoteController">
    <div class="note-list">
        <input type="button" class="btn btn-default add-note" value="新增笔记" ng-click="addMyNote()" />
        <div class="panel panel-default" ng-repeat="note in notes">
            <div class="panel-heading">                    
                <div class="btn-group pull-right">
                    <a href class="btn btn-default btn-sm" ng-init="($first) ? (note.isCollapsed = true) : (note.isCollapsed = false)" ng-click="note.isCollapsed = !note.isCollapsed">
                        <i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i>
                        <span>详细</span>
                    </a>
                    <a href class="btn btn-default btn-sm" ng-click="editMyNote($index, note)">
                        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                        <span>修改</span>
                    </a>
                    <a href class="btn btn-default btn-sm text-danger" ng-click="deleteMyNote($index, note)">
                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                        <span>删除</span>
                    </a>
                </div>
                <h4>{{ note.note_title }}</h4>
            </div>
            <div class="panel-body" ng-show="note.isCollapsed">
                <div class="note-desc"><h5><small ng-bind-html="note.note_description"></small><h5></div>
            </div>
        </div>
    </div>
    <!-- 专题笔记 -->
    <script type="text/ng-template" id="modalMyNote.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" ng-if="isNew">新增笔记</h4>
            <h4 class="modal-title" ng-if="!isNew">修改笔记</h4>
        </div>
        <div class="modal-body">
            <form name="form" novalidate ng-submit="submitForm(form)">
                <div class="form-group">
                    <label for="projectTitle">标题</label>
                    <input type="text" class="form-control" placeholder="标题" ng-model="note.note_title" required>
                </div>
                <div class="form-group">
                    <label for="projectTitle">内容</label>
                    <text-angular ng-model="note.note_description"></text-angular>                
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="送出"/>
                </div>
            </form>
        </div>
    </script>
</div>