<div class="modal-fixed"
     ng-controller="NotifyModalController"
     ng-class="{ 'modal-fixed-show': show_notify, 'modal-fixed-hide': !show_notify }">
    <div class="notify-container">
        <div class="list-container" ng-if="false">
            <div class="list">
                <div class="item"
                     ng-class="{ 'hover': item.hover }"
                     ng-repeat="item in notify_list"
                     ng-mouseover="item.hover = true"
                     ng-mouseleave="item.hover = false">
                    <div class="icon"><img src="images/icon-bell-o.png" /></div>
                    <div class="name" ng-bind="item.name"></div>
                    <div class="message" ng-bind="item.message"></div>
                    <div class="time" ng-bind="item.time"></div>
                </div>
            </div>
        </div>
        <div class="info-container">
            <section class="info">
                <div class="item" ng-repeat="message in message_list | orderBy: 'createdate':true as filtered_result track by $index">
                    <div class="icon"><img src="images/icon-bell.png" /></div>
                    <div class="name" ng-bind="message.man_name"></div>
                    <div class="badge" ng-class="{ 'unread': message.readed == false }">
                        <span ng-if="message.readed == false">未讀</span>
                        <span ng-if="message.readed == true">已讀</span>
                    </div>
                    <div class="time">
                        <span ng-bind="parseChatListTime(message.createdate)"></span>
                        <span class="daysago" am-time-ago="message.createdate"></span>
                    </div>
                    <div class="message" ng-bind="message.message"></div>
                </div>
            </section>
            <footer class="info-action" ng-show="false">
                <div class="chat-panel" pd-chat-at-users>
                    <div class="chat-users">
                        <ul>
                            <li>@ Neo Chang</li>
                            <li>@ 施堯仁</li>
                            <li>@ Ben lee</li>
                        </ul>
                    </div>
                    <div class="chat-input">
                        <textarea type="text" placeholder="@提及他人，按 Enter 快速發布" class="form-control comment-input"></textarea>
                    </div>
                    <div class="chat-send-button">
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>