<ul class="nav navbar-nav navbar-right navbar-notify" ng-controller="NotifyChatDropdownController" ng-if="user">
    <li>
        <a href ng-click="toggleNotify()">
            <img src="images/icon-bell.png" />
            <span class="badge" ng-bind="notify_badge_number" ng-show="notify_badge_number > 0"></span>
        </a>
    </li>
    <li>
        <a href
           pd-remove-class-when-ready="#chat-list"
           pd-remove-class-when-ready-class-name="modal-fixed2-hide"
           ng-click="toggleChatList()">
            <img src="images/icon-chat.png" />
        </a>
        <!-- modalFixed2 -->
        <div id="chat-list" class="modal-fixed2 modal-fixed2-hide chat-box-container" ng-show="show_chatlist">
            <div class="header">聊天</div>
            <div class="list">
                <div class="item noselect"
                     ng-repeat="item in chat_list"
                     ng-click="openChat(item)"
                     ng-class="{ 'hover': item.hover }"
                     ng-mouseover="item.hover = true"
                     ng-mouseleave="item.hover = false">
                    <div class="avatar">
                        <img src="images/icon-profile.png" ng-show="item.group_type == 1" />
                        <img src="images/icon-class.png" ng-show="item.group_type == 2" />
                    </div>
                    <div class="name" ng-bind="item.group_name"></div>
                    <div class="badge" ng-bind="item.unreadCount" ng-if="item.unreadCount > 0"></div>
                    <div class="message" ng-bind="item.message"></div>
                    <div class="time" ng-bind="item.time"></div>
                </div>
            </div>
            <div class="create-chat"><a href ng-click="openCreateChatModal()"><i class="fa fa-plus-circle"></i>發起聊天</a></div>
        </div>
        <!-- /modalFixed2 -->
    </li>
</ul>