<div class="project-list" role="main" ng-controller="ProjectListController">
    <!--============-->
    <nav class="navbar navbar-default navbar-fixed-top2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" ui-sref="home.course-list" href ng-bind="course.course_name"></a>
                <img class="course-type-image" ng-src="{{ course.course_type_image }}" />
            </div>
            <div class="navbar-collapse collapse navbar-right" ng-if="false">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!--============-->

    <div class="container theme-showcase">
        <!-- Main jumbotron for a primary marketing message or call to action -->

        <div class="page-header" ng-cloak>
            <!--    <div class="page-header">
              <h1>Panels</h1>
            </div>-->
            <div class="row">
                <!---->
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">课题：待处理</h3>
                        </div>
                        <div class="panel-body">
                            <!---->
                            <div class="panel panel-default"
                                 ng-repeat="project in project_list | filter: { project_status: 10, project_type: 10 }">
                                <div class="panel-body">
                                    <a href ng-click="setProject(project)" ng-bind="project.project_name"></a></div>
                            </div>
                            <!---->
                            <!---->
                            <div class="panel panel-default"
                                 ng-repeat="project in project_list | filter: { project_status: 10, project_type: 20 }">
                                <div class="panel-body">
                                    <a href ng-click="setProject(project)" ng-bind="project.project_name"></a></div>
                            </div>
                            <!---->
                            <div ng-if="manscore.manscore_type == '2000'">
                                <form name="createForm" ng-submit="submitForm(createForm)" ng-show="show_create_project">
                                    <div class="form-group"
                                         ng-class="{ 'has-error' : createForm.$submitted && createForm.projectTitle.$invalid}">
                                        <label for="projectTitle">标题</label>
                                        <input type="text" class="form-control" id="projectTitle" name="projectTitle"
                                               placeholder="专题名称"
                                               ng-model="new_project.project_name"
                                               required>
                                    </div>
                                    <div class="form-group"
                                         ng-class="{ 'has-error' : createForm.$submitted && createForm.projectStart.$invalid}">
                                        <label for="projectStart">开始</label>
                                        <input type="text" class="form-control" id="projectStart" name="projectStart"
                                               placeholder="YYYY/MM/DD"
                                               ng-model="new_project.project_start"
                                               required>
                                    </div>
                                    <div class="form-group"
                                         ng-class="{ 'has-error' : createForm.$submitted && createForm.projectEnd.$invalid}">
                                        <label for="projectEnd">结束</label>
                                        <input type="text" class="form-control" id="projectEnd" name="projectEnd"
                                               placeholder="YYYY/MM/DD"
                                               ng-model="new_project.project_end"
                                               required>
                                    </div>
                                    <div class="form-button-group">
                                        <button type="submit" class="btn btn-primary">创建新专题</button>
                                        <button type="button" class="btn btn-default"
                                                ng-click="showCreateProject(false)">取消</button>
                                    </div>
                                </form>
                                <button type="button" class="btn btn-primary" ng-hide="show_create_project"
                                        ng-click="showCreateProject()">创建新专题</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">课题：进行中</h3>
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-default"
                                 ng-repeat="project in project_list | filter: { project_status: 20, project_type: 10 }">
                                <div class="panel-body">
                                    <a href ng-click="setProject(project)" ng-bind="project.project_name"></a></div>
                            </div>
                            <div class="panel panel-default"
                                 ng-repeat="project in project_list | filter: { project_status: 20, project_type: 20 }">
                                <div class="panel-body">
                                    <a href ng-click="setProject(project)" ng-bind="project.project_name"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">课题：已完成</h3>
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-default"
                                 ng-repeat="project in project_list | filter: { project_status: 30, project_type: 10 }">
                                <div class="panel-body">
                                    <a href ng-click="setProject(project)" ng-bind="project.project_name"></a></div>
                            </div>
                            <div class="panel panel-default"
                                 ng-repeat="project in project_list | filter: { project_status: 30, project_type: 20 }">
                                <div class="panel-body">
                                    <a href ng-click="setProject(project)" ng-bind="project.project_name"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">自订课题</h3>
                        </div>
                        <div class="panel-body">
                            <div class="panel panel-default"
                                 ng-repeat="project in project_list | filter: { project_type: 30 }">
                                <div class="panel-body">
                                    <span ng-bind="project.project_name"></span></div>
                            </div>
                            <div ng-if="manscore.manscore_type == '1000'">
                                <form name="createFormByStudent" ng-submit="submitFormByStudent(createFormByStudent)"
                                      ng-show="show_create_project_by_student">
                                    <div class="form-group">
                                        <label for="projectTitleByStudent">标题</label>
                                        <input type="text" class="form-control" id="projectTitleByStudent" name="projectTitle"
                                               placeholder="专题名称"
                                               ng-model="new_project.project_title"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label for="projectStartByStudent">开始</label>
                                        <input type="text" class="form-control" id="projectStartByStudent" name="projectStart"
                                               placeholder="YYYY/MM/DD"
                                               ng-model="new_project.project_start"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label for="projectEndByStudent">结束</label>
                                        <input type="text" class="form-control" id="projectEndByStudent" name="projectEnd"
                                               placeholder="YYYY/MM/DD"
                                               ng-model="new_project.project_end"
                                               required>
                                    </div>
                                    <div class="form-button-group">
                                        <button type="submit" class="btn btn-primary">创建新专题</button>
                                        <button type="button" class="btn btn-default"
                                                ng-click="showCreateProjectByStudent(false)">取消</button>
                                    </div>
                                </form>
                                <button type="button" class="btn btn-primary" ng-hide="show_create_project_by_student"
                                        ng-click="showCreateProjectByStudent()">创建新专题</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
            </div>
        </div>
        <!-- /container -->
    </div>
</div>