<div class="project-info" ng-controller="ProjectInfoController">
    <!--============-->
    <nav class="navbar navbar-default  navbar-fixed-top2">
        <div class="container">
            <div class="navbar-header center-block" ng-bind="course.course_name + ' - ' + project_info.project_name" ng-if="false"></div>
            <div class="pull-left"><a ui-sref="home.project-list"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
            </div>
        </div>
    </nav>
    <!--============-->

    <div class="container theme-showcase" role="main" ng-cloak>
        <!-- Main jumbotron for a primary marketing message or call to action -->

        <div class="page-header">
            <div>
                <uib-tabset active="active">
                    <uib-tab index="0" heading="{{ course.course_name + ' - ' + project_info.project_name }}">
                        <uib-tab-heading>
                            <img src="images/icon-course.png" /> {{ course.course_name + ' - ' + project_info.project_name }}
                        </uib-tab-heading>
                        <!---->
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading-0">
                                    <h4 class="panel-title"><a role="button"
                                                               href
                                                               data-toggle="collapse"
                                                               data-parent="#accordion"
                                                               data-target="#collapse-0"
                                                               aria-expanded="true"
                                                               aria-controls="collapse-0">授课老师</a></h4>
                                </div>
                                <div id="collapse-0" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="heading-0">
                                    <div class="panel-body">
                                        <div class="memberList">
                                            <div class="memberList">
                                                <div class="member"
                                                     ng-repeat="man in teacher_list"
                                                     ng-class="{ 'hover': man.hover }"
                                                     ng-mouseover="man.hover = man.man_no != user.man_no"
                                                     ng-mouseleave="man.hover = false"
                                                     ng-click="openChat(man, $event)">
                                                    <div class="imagewrap-round avatar"
                                                         style="background:url(images/child02.jpg)"
                                                         title="{{ man.man_name }}"></div>
                                                    <div class="title">
                                                        {{ man.man_name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading-1">
                                    <h4 class="panel-title"><a role="button"
                                                               href
                                                               data-toggle="collapse"
                                                               data-parent="#accordion"
                                                               data-target="#collapse-1"
                                                               aria-expanded="false"
                                                               aria-controls="collapse-1">专题内容</a></h4>
                                </div>
                                <div id="collapse-1" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading-1">
                                    <div class="panel-body" ng-class="{ 'editable-panel': manscore.manscore_type == 2000 }">
                                        <div class="editable-label"
                                             ng-hide="intro_editable"
                                             ng-bind-html="parseHTML(project_info.project_intro)"
                                             ng-click="showEdit(project_info, 'project_intro', 'intro_editable')"></div>
                                        <div ng-show="intro_editable">
                                            <div>
                                                <textarea ng-model="project_info.project_intro_copy"></textarea></div>
                                            <div class="button-panel">
                                                <button type="button" class="btn btn-success"
                                                        ng-click="edit(project_info, 'project_intro', 'intro_editable')">Save</button>
                                                <button type="button" class="btn"
                                                        ng-click="hideEdit('intro_editable')">Cancel</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading-2">
                                    <h4 class="panel-title"><a class="collapsed" role="button"
                                                               href
                                                               data-toggle="collapse"
                                                               data-parent="#accordion"
                                                               data-target="#collapse-2"
                                                               aria-expanded="false"
                                                               aria-controls="collapse-2">课前预告</a>
                                    </h4>
                                </div>
                                <div id="collapse-2" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading-2">
                                    <div class="panel-body" ng-class="{ 'editable-panel': manscore.manscore_type == 2000 }">
                                        <div class="editable-label"
                                             ng-hide="prestudy_editable"
                                             ng-bind-html="parseHTML(project_info.project_prestudy)"
                                             ng-click="showEdit(project_info, 'project_prestudy', 'prestudy_editable')"></div>
                                        <div ng-show="prestudy_editable">
                                            <div>
                                                <textarea ng-model="project_info.project_prestudy_copy"></textarea></div>
                                            <div class="button-panel">
                                                <button type="button" class="btn btn-success"
                                                        ng-click="edit(project_info, 'project_prestudy', 'prestudy_editable')">Save</button>
                                                <button type="button" class="btn"
                                                        ng-click="hideEdit('prestudy_editable')">Cancel</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading-3">
                                    <h4 class="panel-title"><a class="collapsed" role="button"
                                                               href
                                                               data-toggle="collapse"
                                                               data-parent="#accordion"
                                                               data-target="#collapse-3"
                                                               aria-expanded="false"
                                                               aria-controls="collapse-3">添加标签</a>
                                    </h4>
                                </div>
                                <div id="collapse-3" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading-3">
                                    <div class="panel-body">
                                        <div class="tag-container">
                                            <span class="tag-item"
                                                  ng-repeat="tag in project_info.project_tags"
                                                  ng-bind="tag">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading-4">
                                    <h4 class="panel-title"><a class="collapsed" role="button"
                                                               href
                                                               data-toggle="collapse"
                                                               data-parent="#accordion"
                                                               data-target="#collapse-4"
                                                               aria-expanded="false"
                                                               aria-controls="collapse-4">关联教材</a>
                                    </h4>
                                </div>
                                <div id="collapse-4" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading-4">
                                    <div class="panel-body" ng-class="{ 'editable-panel': manscore.manscore_type == 2000 }">
                                        <div class="editable-label"
                                             ng-hide="material_editable"
                                             ng-bind-html="parseHTML(project_info.project_material)"
                                             ng-click="showEdit(project_info, 'project_material', 'material_editable')"></div>
                                        <div ng-show="material_editable">
                                            <div>
                                                <textarea ng-model="project_info.project_material_copy"></textarea></div>
                                            <div class="button-panel">
                                                <button type="button" class="btn btn-success"
                                                        ng-click="edit(project_info, 'project_material', 'material_editable')">Save</button>
                                                <button type="button" class="btn"
                                                        ng-click="hideEdit('material_editable')">Cancel</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading-5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button"
                                           href
                                           data-toggle="collapse"
                                           data-parent="#accordion"
                                           data-target="#collapse-5"
                                           aria-expanded="false"
                                           aria-controls="collapse-5">截止时间</a>
                                    </h4>
                                </div>
                                <div id="collapse-5" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading-5">
                                    <div class="panel-body">
                                        {{ project_info.project_startdate }} ~ {{ project_info.project_enddate }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-if="false">
                                <div class="panel-heading" role="tab" id="heading-6">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button"
                                           href
                                           data-toggle="collapse"
                                           data-parent="#accordion"
                                           data-target="#collapse-6"
                                           aria-expanded="false"
                                           aria-controls="collapse-6">课时数</a>
                                    </h4>
                                </div>
                                <div id="collapse-6" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading-6">
                                    <div class="panel-body">
                                        <div>课程学分数 : {{ course.course_credit }}</div>
                                        <div>专题时数 : {{ project_info.project_hours }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" ng-if="false && manscore.manscore_type == 1000">
                                <div class="panel-heading" role="tab" id="heading-7">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button"
                                           href
                                           data-toggle="collapse"
                                           data-parent="#accordion"
                                           data-target="#collapse-7"
                                           aria-expanded="false"
                                           aria-controls="collapse-7">总分</a>
                                    </h4>
                                </div>
                                <div id="collapse-7" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="heading-7">
                                    <div class="panel-body">
                                        <div ng-bind="project_score.project_score"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toolbar text-right" ng-if="manscore.manscore_type == '1000'">
                            <div class="item">
                                <input type="button" class="btn btn-default" value="我的作業" ng-click="openMyHomeworkModal()" />
                            </div>
                        </div>
                        <!-- 個人 -->
                        <div class="personalList">
                            <div class="panel panel-primary">
                                <div class="panel-heading">专题成员</div>
                                <div class="panel-body">
                                    <div class="memberList">
                                        <div class="member"
                                             ng-repeat="man in man_list"
                                             ng-class="{ 'hover': man.hover }"
                                             ng-mouseover="man.hover = man.man_no != user.man_no"
                                             ng-mouseleave="man.hover = false"
                                             ng-click="openChat(man, $event)">
                                            <div class="imagewrap-round avatar"
                                                 style="background:url(images/child02.jpg)"
                                                 title="{{ man.man_name }}"></div>
                                            <div class="title">
                                                {{ man.man_name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 分組 -->
                        <div class="groupList row">
                            <!---->
                            <div class="col-md-3"
                                 ng-repeat="group in group_list"
                                 ng-class="{ 'hover-group': group.hover }"
                                 z-ng-mouseover="group.hover = true"
                                 z-ng-mouseleave="group.hover = false">
                                <div class="panel panel-primary">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title pull-left" ng-bind="group.group_name"></h4>
                                        <div class="pull-right">
                                            <input type="button" class="btn btn-primary btn-xs" value="分組討論"
                                                   ng-if="manscore.manscore_type == 2000 || checkUserExistsInGroup(user, group)"
                                                   ng-click="openGroupModal(group)" />
                                            <input type="button" class="btn btn-primary btn-xs" value="刪除分組"
                                                   ng-if="manscore.manscore_type == 2000"
                                                   ng-click="deleteGroup(group)" />
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="memberList">
                                            <div class="member"
                                                 ng-repeat="man in group.group_man"
                                                 ng-class="{ 'hover': man.hover }"
                                                 ng-mouseover="man.hover = man.man_no != user.man_no"
                                                 ng-mouseleave="man.hover = false">
                                                <div class="imagewrap-round avatar"
                                                     style="background:url(images/child02.jpg)"
                                                     ng-class="{'selected': man.groupman_type == 10}"
                                                     ng-click="loadEvaluateList(man, $event)"
                                                     title="{{ man.man_name }}"></div>
                                                <div class="tags">
                                                    <div class="tag-item" ng-if="man.groupman_type == 10">組長</div>
                                                </div>
                                                <div class="title">
                                                    {{ man.man_name }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer" ng-if="false">
                                    </div>
                                </div>
                            </div>
                            <!---->
                        </div>
                        <button type="button" class="btn btn-primary"
                                ng-show="manscore.manscore_type == 2000"
                                ng-click="openCreateNewGroup()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            创建新分组
                        </button>
                        <!-- ============================= -->
                        <!-- 教師評語 -->
                        <div class="panel panel-default panel-evaluate"
                             ng-show="target_man != undefined"
                             ng-if="false">
                            <div class="panel-heading">
                                <span>教师评语</span>
                                <button type="button" class="close" ng-click="closeEvaluateList()"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="panel-body">
                                <!---->
                                <ul class="media-list">
                                    <!---->
                                    <li class="media" ng-repeat="evaluate in evaluate_list">
                                        <div class="media-left"><a href="#">
                                            <div class="imagewrap-round size-sm"
                                                 style="background:url(images/child02.jpg)"></div>
                                        </a></div>
                                        <div class="media-body" ng-bind-html="parseHTML(evaluate)"></div>
                                        <div class="media-right">
                                            <a href="#">
                                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a></div>
                                    </li>
                                    <!---->
                                </ul>
                                <!---->
                            </div>
                            <div class="panel-footer" ng-if="manscore.manscore_type == '2000'">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="按 Enter 快速发布"
                                           ng-enter="createEvaluate(evaluate)"
                                           ng-model="evaluate.evaluate_info">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="createEvaluate(evaluate)">送出</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- 专题讨论 -->
                        <div class="panel panel-default panel-evaluate">
                            <div class="panel-heading">
                                <span>专题讨论</span>
                            </div>
                            <div class="panel-body">
                                <pd-chat data-guid="project_chat_guid"></pd-chat>
                            </div>
                        </div>
                        <!---->
                    </uib-tab>
                    <uib-tab index="1" heading="个人笔记" ng-if="manscore.manscore_type == 1000">
                        <uib-tab-heading>
                            <img src="images/icon-note.png" /> 专题笔记
                        </uib-tab-heading>
                        <div class="padding">
                            <input type="button" class="btn btn-default add-note" value="新增笔记" ng-click="addMyNote()" />
                            <div class="panel panel-default" ng-repeat="note in notes">
                                <div class="panel-heading">                    
                                    <div class="btn-group pull-right">
                                        <a href class="btn btn-default btn-sm" ng-init="($first) ? (note.isCollapsed = true) : (note.isCollapsed = false)" ng-click="note.isCollapsed = !note.isCollapsed">
                                            <i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i>
                                            <span>详细</span>
                                        </a>
                                        <a href class="btn btn-default btn-sm" ng-click="editMyNote($index, note)">
                                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                            <span>修改</span>
                                        </a>
                                        <a href class="btn btn-default btn-sm text-danger" ng-click="deleteMyNote($index, note)">
                                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                            <span>删除</span>
                                        </a>
                                    </div>
                                    <h4>{{ note.note_title }}</h4>
                                </div>
                                <div class="panel-body" ng-show="note.isCollapsed">
                                    <div class="note-desc"><h5><small ng-bind-html="note.note_description"></small><h5></div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <!-- /container -->
    </div>

    <!-- 分組成員 -->
    <script type="text/ng-template" id="modalGroupInfo.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">我的组员</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="请输入分组名称"
                       ng-model="new_group.name" />
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <!---->
                        <div class="col-xs-6 col-sm-3 col-md-2" ng-repeat="man in new_group.group_man">
                            <div class="thumbnail"><img src="images/child01.jpg" alt="...">
                                <div class="caption">
                                    <p><span ng-bind="man.man_name"></span></p>
                                    <p>
                                        <a href class="btn btn-primary btn-xs"
                                           ng-click="removeFromGroup(new_group, man)">移除</a>
                                        <a href class="btn btn-primary btn-xs"
                                           ng-click="setAsGroupLeader(new_group, man)"
                                           ng-hide="man.groupman_type == 10">设为组长</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!---->
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-default"
                            ng-click="openGroupManPickup(new_group)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        新增成员
                    </button>
                    <button type="button" class="btn btn-primary pull-right"
                            ng-click="addGroup(new_group)">
                        确定新增
                    </button>
                </div>
            </div>
        </div>
    </script>
    <!-- 選取分組成員 -->
    <script type="text/ng-template" id="modalGroupManPickup.html">
        <div class="modal-header">
            <h4 class="modal-title">选取分组成员</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-default panel-manscore-list">
                <div class="panel-body hight-md">
                    <ul class="media-list" ng-if="false">
                        <!---->
                        <li class="media" ng-class="{'active': man.checked}" ng-repeat="man in manscore_list"
                            ng-click="toggleManscoreChecked(man)">
                            <div class="media-left"><a href="javascript:void(0)">
                                <div class="imagewrap-round size-sm"
                                     style="background:url(images/child02.jpg)"></div>
                            </a></div>
                            <div class="media-body" ng-bind="man.man_name"></div>
                            <div class="media-right" ng-show="man.checked"><i class="fa fa-check" aria-hidden="true"></i></div>
                        </li>
                        <!---->
                    </ul>
                    <div class="memberList">
                        <div class="member"
                             ng-repeat="man in manscore_list"
                             ng-class="{ 'hover': man.hover, 'active': man.checked }"
                             ng-mouseover="man.hover = true"
                             ng-mouseleave="man.hover = false"
                             ng-click="toggleManscoreChecked(man)">
                            <span class="checked"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                            <div class="imagewrap-round avatar"
                                 style="background:url(images/child02.jpg)"
                                 title="{{ man.man_name }}"></div>
                            <div class="title">
                                {{ man.man_name }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" ng-click="addGroupMan(new_group, manscore_list)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        新增
                    </button>
                </div>
            </div>
        </div>
    </script>
    <!-- 上傳分組作業 -->
    <script type="text/ng-template" id="modalGroup.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ '分組 : ' + group.group_name }}</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="memberList">
                        <div class="member"
                             ng-repeat="man in group.group_man"
                             ng-class="{ 'hover': man.hover }"
                             ng-mouseover="man.hover = true"
                             ng-mouseleave="man.hover = false">
                            <div class="imagewrap-round avatar"
                                 style="background:url(images/child02.jpg)"
                                 ng-class="{'selected': man.groupman_type == 10}"
                                 ng-click="loadEvaluateList(man, $event)"
                                 title="{{ man.man_name }}"></div>
                            <div class="tags">
                                <div class="tag-item" ng-if="man.groupman_type == 10">組長</div>
                            </div>
                            <div class="title">
                                {{ man.man_name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <pd-chat data-guid="chat_guid" ng-if="manscore.manscore_type == 2000 || user_exists_in_group"></pd-chat>
        </div>
    </script>
    <!-- 上傳個人作業 -->
    <script type="text/ng-template" id="modalHomework.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ man.man_name }}</h4>
        </div>
        <div class="modal-body">
            <pd-chat data-guid="chat_guid"></pd-chat>
        </div>
    </script>
    <!-- 我的作業 -->
    <script type="text/ng-template" id="modalMyHomework.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">我的作业</h4>
        </div>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    作业清单
                </div>
                <div class="panel-body">
                    <div class="text-center" ng-show="homework_requests.length == 0">
                        <h4>老师还没有出作业噢!</h4>
                    </div>
                    <ul class="media-list">
                        <li class="media" ng-repeat="homework_request in homework_requests">
                            <div class="media-body">
                                <p><h4><strong>{{ homework_request.homework_request_name }}</strong></h4></p>
                                <p><h5><small>{{ homework_request.homework_request_desc }}</small><h5></p>
                                <div>
                                    <div class="fa fa-check text-info" ng-if="homework_request.files != null">
                                        已缴交 (档案下载：
                                        <a ng-repeat="file in homework_request.files" ng-href="{{ file.file_url }}">
                                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                                            {{ file.file_name }}
                                        </a>)
                                    </div>
                                    <div class="fa fa-times text-danger" ng-if="homework_request.files == null">
                                        未缴交 (缴交期限：{{ homework_request.homework_request_deadline | date :  "y/MM/dd HH:mm" }})
                                    </div>                                    
                                </div>
                            </div>
                            <!--<div class="media-right" ng-if="homework_request.homeworks[0].score">                              
                                <p>
                                    <h4>
                                        <small>成绩:</small>
                                        <strong>{{ homework_request.homeworks[0].score }}</strong>
                                        <small>分</small>
                                    </h4>
                                </p>
                            </div>-->
                        </li>
                    </ul>
                    <!---->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    作业暂存区
                </div>
                <div class="panel-body">
                    <ul class="media-list">
                        <li class="media" ng-repeat="file in files">
                             <!--| filter:{ homework_request_no: null }-->
                            <div class="media-body">
                                <a ng-href="{{ file.file_url }}">
                                    {{ file.file_name }}
                                </a>                                
                            </div>
                            <div class="media-right" style="width:250px;" ng-show="homework_requests.length > 0">
                                 <!--ng-show="(homework_requests | filter:filterFn).length != 0"-->
                                <div class="row">
                                    <div class="col-md-8 col-sm-8">
                                        <ui-select ng-model="selected.commit_homework"
                                                   ng-change="selectionChanged(selected.commit_homework, file)"
                                                   style="width:150px;">
                                            <ui-select-match placeholder="請選擇作業" style="width:150px;">
                                                <span ng-bind="$select.selected.homework_request_name"></span>
                                            </ui-select-match>
                                            <ui-select-choices repeat="homework_request in homework_requests">
                                                <!--repeat="homework_request in filtered = (homework_requests | filter:filterFn)"-->
                                                <span ng-bind="homework_request.homework_request_name"></span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-md-4 col-sm-4">                    
                                        <a href class="btn" ng-click="submitHomework($index, file)">
                                            <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                            <span>缴交</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!---->
                    <hr/>
                    <div>
                        <i class="fa fa-exclamation-circle text-danger" aria-hidden="true"> 暂存区的档案不会列入评分，记得缴交作业噢!</i>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="file" class="btn btn-primary"
                            ngf-select="uploadFiles($file, $invalidFiles)"
                            accept="*" ngf-max-size="500MB">
                        <i class="fa fa-paperclip" aria-hidden="true"></i> 上传作业
                    </button>
                </div>
            </div>
            <!--<pd-chat data-guid="chat_guid"></pd-chat>-->
        </div>
    </script>
    <!-- 专题笔记 -->
    <script type="text/ng-template" id="modalMyNote.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" ng-if="isNew">新增笔记</h4>
            <h4 class="modal-title" ng-if="!isNew">修改笔记</h4>
        </div>
        <div class="modal-body">
            <form name="form" novalidate ng-submit="submitForm(form)">
                <div class="form-group">
                    <label for="projectTitle">标题</label>
                    <input type="text" class="form-control" placeholder="标题" ng-model="note.note_title" required>
                </div>
                <div class="form-group">
                    <label for="projectTitle">内容</label>
                    <text-angular ng-model="note.note_description"></text-angular>                
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="送出"/>
                </div>
            </form>
        </div>
    </script>
</div>