<div class="public-wall" ng-controller="PublicWallController">
    <!--============-->
    <nav class="navbar navbar-default navbar-fixed-top2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#">分享墙</a></div>
            <div class="navbar-collapse collapse  navbar-right" ng-if="false">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#about">Google 艺术家计划</a></li>
                    <li><a href="#contact">校友分享</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!--============-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-md-offset-6" ng-hide="show_exhibitions">
                <img src="images/rolling.svg" />
            </div>
            <div class="col-md-12" ng-show="show_exhibitions">
                <div class="row">
                    <div class="col-md-12">
                        <slick class="exhibitions"
                               ng-if="exhibition_loaded"
                               infinite="true" slides-to-show="5" slides-to-scroll="1" settings="slickConfig">
                            <div class="exhibition" ng-repeat="item in exhibition_items">
                                <a ui-sref="public.exhibition-item({ 'exhibition_no': exhibition.exhibition_no,
                                    'exhibition_item_no': item.exhibition_item_no })">
                                    <div class="item"
                                       ng-init="attachments = item.exhibition_item_attachment">
                                        <div class="image" ng-style="{ 'background-image': 'url(' + attachments[0].attachment_url + ')'}"></div>
                                        <div class="title">{{ item.exhibition_item_name }}</div>
                                        <div class="description" ng-hide="true">{{ item.exhibition_item_description }}</div>
                                    </div>
                                </a>
                            </div>
                            <div class="exhibition" ng-click="gotoItemEdit(-1, null, $event)" ng-if="false">
                                <div class="item item-add">
                                    <div class="image">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </div>
                                    <div class="title">新增展廳項目</div>
                                </div>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
        </div>
        <!--=======-->
        <div class="wallNavBar" ng-if="false">
            <form class="form-inline">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary active">班级</button>
                    <button type="button" class="btn btn-primary">创作者</button>
                    <button type="button" class="btn btn-primary">课程</button>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="內容搜索">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"
                                                                    aria-hidden="true"></span></button>
            </form>
        </div>
        <!--=======-->

        <ul class="wall-wrapper" angular-grid="wall">
            <!--  -->
            <li class="card share share-self col1"
                ng-repeat="item in wall" ng-init="file = item.shared_item_files[0]">
                <div class="panel panel-default">
                    <div class="panelImg">
                        <a href title="{{ item.shared_item_name }}" ng-click="showPublicWallItem(item)">
                            <img alt="{{ item.shared_item_name }}" ng-src="{{ file.medium_thumb_url }}">
                        </a>
                    </div>
                    <div class="panel-body">
                        <h4 ng-bind="item.shared_item_name"></h4>
                        <p>作者：{{ item.shared_item_author_info.man_name }}
                            <span class="school-name">{{ item.shared_item_author_info.school_name }}</span></p>
                        <p ng-bind="item.shared_item_desc"></p>
                    </div>
                    <div class="panel-footer">
                        <span class="item" ng-if="!user">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            <span ng-if="item.shared_item_like_count > 0"
                                  ng-bind="item.shared_item_like_count"></span>
                        </span>
                        <a href class="item" title="成为第 1 个按赞的人"
                           ng-if="user && item.shared_item_like_count == 0"
                           ng-click="postLike(item)"
                           ng-class="{ 'active': item.shared_item_is_like }">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </a>
                        <a href class="item" title="{{ '有 ' + item.shared_item_like_count + ' 个人按赞' }}"
                           ng-if="user && item.shared_item_like_count > 0"
                           ng-click="postLike(item)"
                           ng-class="{ 'active': item.shared_item_is_like }">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <span ng-bind="item.shared_item_like_count"></span>
                        </a>
                        <span class="item" ng-if="!user">
                            <i class="fa fa-comment-o" aria-hidden="true"></i>
                            <span ng-if="item.shared_item_comment_count > 0"
                                  ng-bind="item.shared_item_comment_count"></span>
                        </span>
                        <a href class="item" title="还没有人开始讨论" ng-if="user && item.shared_item_comment_count == 0">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                        </a>
                        <a href class="item" title="{{ '有 ' + item.shared_item_comment_count + ' 则讨论' }}"
                           ng-if="user && item.shared_item_comment_count > 0"
                           ng-click="showPublicWallItem(item)">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                            <span ng-bind="item.shared_item_comment_count"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <!-- START SOCIAL WRAPPER -->
        <div class="social-wrapper" ng-if="false">
            <!-- START SOCIAL -->
            <div class="social" data-pages="social">
                <!--  *** SOCIAL COVER GOES HERE ***  -->
                <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                    <div class="feed">
                        <!-- START DAY -->
                        <div class="day" data-social="day">

                            <!--  -->
                        </div>
                        <!-- END FEED -->
                    </div>
                    <!-- END CONTAINER FLUID -->
                </div>
                <!-- END SOCIAL -->
            </div>
            <!-- END SOCIAL WRAPPER -->
        </div>
    </div>
    <!-- 新增 / 編輯展廳 -->
    <script type="text/ng-template" id="modalExhibitionForm.html">
        <div class="modal-header">
            <h4 class="modal-title" ng-if="!exhibition">新增展厅</h4>
            <h4 class="modal-title" ng-if="exhibition">编辑展厅</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="form" novalidate ng-submit="submitForm(form)">
                <div class="form-group">
                    <label class="col-md-4 control-label">展廳名稱</label>
                    <div class="col-md-4">
                        <input class="form-control" type="text"
                               ng-model="data.title"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">開始日期</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   ng-model="data.start_date"
                                   uib-datepicker-popup="yyyy/MM/dd"
                                   is-open="popupDate.opened_1" datepicker-options="dateOptions"
                                   close-text="Close"
                                   required />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="openPopupDate('opened_1')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">結束日期</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   ng-model="data.end_date"
                                   uib-datepicker-popup="yyyy/MM/dd"
                                   is-open="popupDate.opened_2" datepicker-options="dateOptions"
                                   close-text="Close"
                                   required />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="openPopupDate('opened_2')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">上傳展廳 Banner</label>
                    <div class="col-md-4" ng-class="{'col-error': form.attachment_no.$invalid}">
                        <button type="file" class="btn btn-default"
                                ngf-select="uploadFiles(group, $file, $invalidFiles)"
                                accept="*" ngf-max-size="500MB">
                            <i class="fa fa-paperclip" aria-hidden="true"></i> 上传档案
                        </button>
                        <input type="hidden" name="attachment_no"
                               ng-model="data.attachment_no"
                               required />
                        <span>{{ data.attachment_name }}</span>
                        <div class="image"
                             ng-show="data.image_url"
                             ng-style="{ 'background-image': 'url(' + data.image_url + ')'}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4">
                        <input type="submit" class="btn btn-primary" value="送出" />
                    </div>
                </div>
            </form>
        </div>
    </script>
    <!-- 新增 / 編輯展廳項目 -->
    <script type="text/ng-template" id="modalExhibitionItemForm.html">
        <div class="modal-header">
            <h4 class="modal-title" ng-if="!exhibition_item">新增展厅項目</h4>
            <h4 class="modal-title" ng-if="exhibition_item">编辑展厅項目</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="formItem" novalidate ng-submit="submitForm(formItem)">
                <div class="form-group">
                    <label class="col-md-4 control-label">展廳項目名稱</label>
                    <div class="col-md-4">
                        <input class="form-control" type="text"
                               ng-model="data.title"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">展廳項目描述</label>
                    <div class="col-md-4">
                        <input class="form-control" type="text"
                               ng-if="false"
                               ng-model="data.description"
                               required>
                        <textarea class="form-control" rows="5"
                                  ng-model="data.description"
                                  required>
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">上傳展廳項目</label>
                    <div class="col-md-4" ng-class="{'col-error': form.attachment_no.$invalid}">
                        <button type="file" class="btn btn-default"
                                ngf-select="uploadFiles($file, $invalidFiles)"
                                accept="*" ngf-max-size="500MB">
                            <i class="fa fa-paperclip" aria-hidden="true"></i> 上传档案
                        </button>
                        <input type="hidden" name="attachment_no"
                               ng-model="data.attachment_file_no"
                               required />
                        <span>{{ data.attachment_name }}</span>
                        <div class="image"
                             ng-show="data.image_url"
                             ng-style="{ 'background-image': 'url(' + data.image_url + ')'}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4">
                        <input type="submit" class="btn btn-primary" value="送出" />
                    </div>
                </div>
            </form>
        </div>
    </script>
    <!-- 分享牆作品完整內容 -->
    <script type="text/ng-template" id="modalPublicWallItem.html">
        <div class="modal-header">
            <h4 class="modal-title">{{ wall.shared_item_name }}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col col-md-12 image">
                    <div id="wall-image-container">
                        <img ng-src="{{ wall.shared_item_files[0].large_thumb_url }}"
                             data-high-res-src="{{ wall.shared_item_files[0].image_url }}"
                             class="pannable-image">
                    </div>
                    <p class="tips">在圖片上捲動滑鼠滾輪可以放大縮小圖片</p>
                </div>
                <div class="col col-md-12 description">
                    <p ng-bind-html=""></p>
                </div>
                <div class="col col-md-12 author-description">
                    <p ng-bind-html=""></p>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <div class="toolbar">
                        <span class="item" ng-if="!user">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            <span ng-if="wall.shared_item_like_count > 0"
                                  ng-bind="wall.shared_item_like_count"></span>
                        </span>
                        <a href class="item" title="成为第 1 个按赞的人"
                           ng-if="user && wall.shared_item_like_count == 0"
                           ng-click="postLike(wall)"
                           ng-class="{ 'active': wall.shared_item_is_like }">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </a>
                        <a href class="item" title="{{ '有 ' + wall.shared_item_like_count + ' 个人按赞' }}"
                           ng-if="user && wall.shared_item_like_count > 0"
                           ng-click="postLike(wall)"
                           ng-class="{ 'active': wall.shared_item_is_like }">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <span ng-bind="wall.shared_item_like_count"></span>
                        </a>
                        <span class="item" ng-if="!user">
                            <i class="fa fa-comment-o" aria-hidden="true"></i>
                            <span ng-if="wall.shared_item_comment_count > 0"
                                  ng-bind="wall.shared_item_comment_count"></span>
                        </span>
                        <a href class="item" title="还没有人开始讨论"
                           ng-if="user && wall.shared_item_comment_count == 0">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                        </a>
                        <a href class="item" title="{{ '有 ' + wall.shared_item_comment_count + ' 则讨论' }}"
                           ng-if="user && wall.shared_item_comment_count > 0"
                           ng-click="showPublicWallItem(wall)">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                            <span ng-bind="wall.shared_item_comment_count"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                    <pd-chat data-guid="chat_guid" data-count="wall.shared_item_comment_count"></pd-chat>
                </div>
            </div>
            <div class="row" ng-if="false">
                <div class="col col-md-12">
                    <div class="chat-info">
                        <section class="info" pd-scroll-to-bottom="scroll_to_bottom">
                            <ul ng-show="message_loaded">
                                <li class="item"
                                    ng-repeat="message in message_list track by $index"
                                    ng-class="{ 'creator': message.man_no == user.man_no, 'highlight': parseMessageOfYou(message.message, user.man_name) }">
                                    <div class="message-body">
                                        <div class="icon"><img src="images/icon-profile.png" /></div>
                                        <div class="name" ng-bind="message.man_name"></div>
                                        <div class="message">
                                            <div class="message-info" ng-bind-html="parseHTML(message.message)"></div>
                                        </div>
                                        <div class="time" ng-bind="message.createdate"></div>
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <footer class="info-action" ng-if="user">
                            <div class="chat-panel" pd-chat-at-users="show_chat_users">
                                <div class="chat-users" ng-show="show_chat_users">
                                    <ul>
                                        <li
                                            ng-repeat="user in user_list track by $index"
                                            ng-click="addUser(user, $event)">@ {{ user.man_name }}</li>
                                    </ul>
                                </div>
                                <div class="chat-input">
                                    <textarea type="text" placeholder="按 Ctrl+Enter 快速發布" class="form-control comment-input"
                                              ng-model="data.message"
                                              save-enter="sendMessage(data.message)"></textarea>
                                </div>
                                <div class="chat-send-button">
                                    <button type="button" class="btn btn-primary" ng-click="sendMessage(data.message)">Send</button>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>