<ul class="nav navbar-nav navbar-right uib-dropdown" ng-controller="UserDropdownController">
    <li ng-if="false"><a href="#">日历</a></li>
    <li uib-dropdown ng-if="!user">
        <a ui-sref="login" uib-dropdown-toggle>
            登入
        </a>
    </li>
    <li uib-dropdown ng-if="user">
        <a href uib-dropdown-toggle>
            {{ user.man_name }} <span class="caret"></span>
        </a>
        <!-- Simple dropdown -->
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li ng-if="false"><a href="#">个人设定</a></li>
            <li role="separator" class="divider" ng-if="false"></li>
            <li><a href ng-click="myNote()">我的笔记</a></li>
            <li><a href ng-click="logout()">注销</a></li>            
        </ul>
    </li>
</ul>