.chat-box-container {
    font-size: 15px;
    background-color: #ffffff;

    -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    display: flex;
    flex-direction: column;

    min-width: 270px;
    margin-left: -400%;

    .header {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .list {
        max-height: 500px;
        overflow: auto;

        .item {
            border-bottom: 1px solid #eeeeee;
            padding-top: 6px;
            padding-left: 5px;
            padding-right: 5px;
            cursor: pointer;

            &:first-child {
                border-top: 1px solid #cccccc;
                padding-top: 6px;
                margin-top: 10px;
            }
            &:last-child {
                border-bottom-color: #cccccc;
            }
            &.hover, &.active {
                background-color: #eeeeee;
            }
            .avatar {
                display: inline-block;
            }
            .name {
                display: inline-block;
            }
            .badge {
                margin-left: 0;
            }
            .message {
                padding-top: 5px;
                padding-bottom: 5px;

                font-size: 13px;
                color: #999;

                overflow : hidden;
                text-overflow : ellipsis;
                white-space : nowrap;
                width : 240px;
            }
            .time {
                font-size: 13px;
                text-align: right;
            }
        }
    }

    .create-chat {
        margin-top: 10px;

        a {
            color: #3da8f5;

            &:hover {
                -webkit-opacity: 0.8;
                -moz-opacity: 0.8;
                opacity: 0.8;

                text-decoration: none;
            }
        }

        i {
            margin-right: 5px;
        }
    }
}

.chat-modal {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;

    ul {
        padding: 0;

        li {
            list-style-type: none;
        }
    }

    .chat-modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        background-color: #383838;

        opacity: 0.7;
        filter: alpha(opacity=70);
    }

    .chat-modal-content {
        position: absolute;
        top: 50px;
        left: 50%;
        bottom: 50px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 800px;
        margin-left: -400px;
        background-color: #fff;

        .header {
            line-height: 55px;
            //background-color: aquamarine;
            border-bottom: 1px solid #ccc;

            .title {
                font-size: 18px;
                line-height: 26px;
                color: #383838;
            }
            .close-handler {
                position: absolute;
                top: 15px;
                right: 15px;
                color: #A6A6A6;
                font-size: 16px;
                line-height: 26px;
            }
        }
        .content {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            overflow: hidden;
            background-color: #FFF;

            .chat-list {
                width: 300px;
                height: 100%;
                -webkit-flex: none;
                -ms-flex: none;
                flex: none;
                border-right: 1px solid #ccc;
                overflow-y: auto;

                .item {
                    padding: 10px;
                    border-bottom: 1px solid #ccc;
                    cursor: pointer;

                    &.hover, &.active {
                        background-color: #F7F7F7;
                    }
                    .avatar {
                        display: inline-block;
                    }
                    .name {
                        display: inline-block;
                    }
                    .badge {
                        background-color: #ff0000;
                    }
                    .time {
                        text-align: right;
                        margin-top: 5px;

                        div {
                            display: inline-block;

                            &.daysago {
                                margin-left: 5px;
                            }
                        }
                    }
                    .message {
                        color: #a6a6a6;
                        margin-top: 5px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 270px;
                    }
                }
            }
            .chat-info {
                //background-color: #7e61a0;
                width: 100%;
                height: 100%;
                display: flex;
                -webkit-flex-direction: column;
                flex-direction: column;

                .info {
                    -webkit-flex: 1 1;
                    flex: 1 1;
                    overflow: auto;
                    padding: 10px;

                    ul {
                        margin: 0;
                        padding: 0;

                        li {
                            list-style-type: none;
                        }
                    }

                    .item {
                        position: relative;
                        overflow: hidden;
                        margin: 25px 15px;

                        &.creator {

                            .message-body {
                                float: right;

                                .icon {
                                    display: none;
                                }
                                .name {
                                    display: none;
                                }
                                .message {
                                    text-align: right;

                                    .message-info {
                                        background-color: #e5f6fb;
                                    }
                                }
                                .time {
                                    text-align: right;
                                }
                            }
                        }
                        &.highlight {
                            .message-body {
                                .message {
                                    .message-info {
                                        background-color: #FFF2AD;
                                    }
                                }
                            }
                        }

                        .message-body {
                            max-width: 80%;

                            .icon {
                                display: inline-block;
                            }
                            .name {
                                display: inline-block;
                            }

                            .message {
                                margin-top: 5px;
                                margin-bottom: 5px;

                                .message-info {
                                    background-color: #eee;
                                    padding: 5px 10px;
                                    border-radius: 5px;
                                    display: inline-block;
                                    text-align: left;
                                }
                            }

                            .time {
                                padding-left: 10px;
                                color: #A6A6A6;
                            }
                        }
                    }
                }
                .info-action {
                    width: 100%;
                    height: 110px;
                    background-color: #00bfff;
                    -webkit-flex: none;
                    flex: none;

                    .chat-panel {
                        padding: 10px;

                        .chat-input {
                            margin-bottom: 6px;

                            .form-control {
                                width: 100%;
                                overflow-y: auto;
                                -webkit-overflow-scrolling: touch;
                                resize: none;
                                border: 0 none;
                                outline: 0 none;
                                border-radius: 0;
                            }
                            textarea {
                                overflow: hidden;
                                //position: absolute;
                                //top: 0;
                                //left: 0;
                                //height: 100%;
                                //width: 100%;
                                resize: none;
                                border: 0 none;
                                line-height: 20px;
                                box-shadow: none;
                                //
                                word-break: break-word;
                                white-space: pre-wrap;
                            }
                        }
                        .chat-send-button {
                            text-align: right;
                        }
                        .chat-users {
                            //display: none;
                            position: absolute;
                            background-color: #4AA02C;
                            color: #ffffff;

                            ul {
                                margin: 0;
                                padding: 6px;

                                li {
                                    list-style-type: none;
                                    margin-left: 0px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            .create-chat-list {
                width: 180px;

                ul {
                    padding-left: 0;

                    li {
                        list-style-type: none;
                        border-bottom: 1px solid #ccc;

                        .item {
                            border-bottom: 0 none;
                            border-left: 5px solid #ffffff;

                            &.active, &.hover {
                                border-left: 5px solid #00b3ee;
                                color: #00b3ee;
                            }

                            .tab-item {
                                margin-left: 20px;

                                .icon, .title {
                                    display: inline-block;
                                }
                                .icon {
                                    margin-right: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .room-list {
                .room-list-item {
                    overflow: hidden;

                    .room-item {
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-justify-content: flex-start;
                        -ms-flex-pack: start;
                        justify-content: flex-start;
                        margin: 0 -16px;
                        padding: 8px 32px;
                        cursor: pointer;

                        .room-left-side {
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-align-items: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-justify-content: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            -webkit-flex: 0 0 auto;
                            -ms-flex: 0 0 auto;
                            flex: 0 0 auto;
                            margin-right: 16px;
                        }

                        .room-content {
                            -webkit-flex: 1 1 0%;
                            -ms-flex: 1 1 0%;
                            flex: 1 1 0%;
                            overflow: hidden;

                            p {
                                margin-bottom: 0;
                            }

                            .room-name {
                                margin-bottom: 3px;
                            }
                            .room-subname {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                font-size: 12px;
                                line-height: 14px;
                                color: #A6A6A6;
                            }
                        }
                    }
                }
            }
        }
    }
}