.course-list {
    .container {
        .header-menu {
            height: 33px;

            .btn {
                margin-right: 10px;

                &:first-child {
                    margin-right: 0;
                }
            }
        }

        .imagewrap-box {
            cursor: pointer;
            height: 107px;
        }

        .course-items {
            .course-item {
                .course-info-header {
                    position: absolute;
                    margin-top: -2px;

                    .course-name {
                        background-color: rgba(0, 0, 0, 0.5);
                        padding: 5px 10px;
                        margin-left: -4px;
                    }
                    .course-icon {
                        background-color: rgba(255, 255, 255, 0.7);
                        padding: 5px;
                        margin-left: -5px;

                        img {
                            margin-top: -2px;
                            margin-left: -2px;
                            padding-right: 3px;
                        }
                    }
                }
            }
        }
    }
}