body {
    overflow: hidden;
}
.navbar-notify {
    margin-left: 18px;
    font-size: 17px;

    .badge {
        background-color: #ff0000;
        margin-left: -10px;
    }
}
.navbar-fixed-top2 {
    height: 65px;
}
.modal-fixed {
    z-index: 9;
    //background: rgba(255, 0, 0, 0.3);
    background-color: rgba(238, 238, 238, 0.96);

    //position: absolute;
    //width: 100%;
    //top: 0;
    //bottom: 0;

    padding-top: 115px;
    transform: translate3d(0, -100%, 0);
    transition: 0.3s transform ease-in;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.modal-fixed-show {
    transform: translate3d(0, 0, 0);
}

.modal-fixed2 {
    font-size: 14px;
    background-color: #ffffff;

    //height: 300px;

    position: absolute;
    z-index: 2000;

    padding: 10px;

    &.modal-fixed2-hide {
        display: none;
    }
}