.notify-container {
    //background-color: rgba(255, 210, 0, 0.2);
    color: grey;
    font-size: 15px;
    width: 810px;
    height: 100%;
    margin: 0 auto;
    display: flex;

    .list-container {
        //background-color: rgba(255, 0, 0, 0.2);
        margin: 0 0 10px 20px;
        border-right: 1px solid #ccc;
        width: 280px;
        height: 100%;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;

        .list {
            background-color: #fff;
            margin-top: 10px;
            margin-right: 10px;
            height: 100%;

            .item {
                border-bottom: 1px solid #eee;
                padding: 10px 0 10px 10px;
                cursor: pointer;

                &.hover {
                    background-color: #F7F7F7;
                }

                .icon {
                    display: inline-block;
                    img {
                        width: 100%;
                        max-width: 16px;
                    }
                }
                .name {
                    display: inline-block;
                }
                .message {
                    margin-top: 10px;
                    margin-bottom: 5px;
                }
            }
        }
    }
    .info-container {
        //background-color: rgba(255,100,0,.2);
        margin-left: 10px;
        margin-right: 20px;
        height: 100%;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: flex;
        flex-direction: column;

        .info {
            background-color: #fff;
            margin-top: 10px;
            padding: 10px;
            height: 86%;
            overflow-y: auto;
            -webkit-flex: 1 1;
            flex: 1 1;

            .item {
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px dashed #ccc;

                .icon {
                    display: inline-block;
                }
                .name {
                    display: inline-block;
                }
                .badge {
                    font-weight: normal;

                    &.unread {
                        background-color: #ff0000;
                    }
                }
                .time {
                    float: right;
                    margin-top: 4px;
                }
            }
        }
        .info-action {
            height: 110px;
            background-color: #00bfff;
            -webkit-flex: none;
            flex: none;

            .chat-panel {
                padding: 10px;

                .chat-input {
                    margin-bottom: 6px;

                    .form-control {
                        width: 100%;
                        overflow-y: auto;
                        -webkit-overflow-scrolling: touch;
                        resize: none;
                        border: 0 none;
                        outline: 0 none;
                        border-radius: 0;
                    }
                    textarea {
                        overflow: hidden;
                        //position: absolute;
                        //top: 0;
                        //left: 0;
                        //height: 100%;
                        //width: 100%;
                        resize: none;
                        border: 0 none;
                        line-height: 20px;
                        box-shadow: none;
                        //
                        word-break: break-word;
                        white-space: pre-wrap;
                    }
                }
                .chat-send-button {
                    text-align: right;
                }
                .chat-users {
                    display: none;
                    position: absolute;
                    background-color: #4AA02C;
                    color: #ffffff;

                    ul {
                        margin: 0;
                        padding: 6px;

                        li {
                            list-style-type: none;
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
    }
}