.project-info {
    .tag-container {
        .tag-item {
            background-color: #4d4d4d;
            color: #ffffff;
            padding: 5px 10px;
            border-radius: 15px;
            margin-right: 10px;
        }
    }

    .editable-panel {
        textarea {
            width: 90%;
            height: 100px;
        }
        .button-panel {
            margin-top: 5px;
        }
        .editable-label {
            background: #ffffcc;
            padding: 5px 10px;
        }
    }

    .toolbar {
        margin-bottom: 10px;
    }

    .groupList {
        .hover-group {
            .panel-body {
                background-color: #eeeeee;
            }
        }
        .panel {

            .panel-heading {
                h4 {
                    line-height: 22px;
                }
                .btn-primary {
                    background-color: #4285BF;
                }
            }
        }
    }

    .panel-manscore-list {
        .media {
            cursor: pointer;

            &:hover {
                background-color: #eee;
            }
        }
    }

    .panel-evaluate {
        margin-top: 15px;
    }

    .chat-info .info {
        min-height: 300px;
        max-height: 300px;
    }

    .add-note {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .note-title {
        font-size: 160%;
        margin: 10px 0px 0px 10px;
    }

    .note-desc {
        //background-color: #aaa;
        max-height: 300px;
        overflow: hidden;
        margin-left: 30px;
        &.hover, &:hover {
            overflow-x: hidden;
            overflow-y: auto;
        }
    }
}

.project-info, .modal-project-info, .modal-project-groupman-pickup {
    .memberList {
        .member {
            cursor: pointer;
            margin-right: 10px;
            display: inline-block;
            width: 50px;

            &.hover {
                .avatar {
                    -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
                    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
                }
                .title {
                    font-weight: bold;
                }
            }
            &.active {
                .checked {
                    display: inline-block;
                }
            }
            .checked {
                display: none;
                position: absolute;
                //top: 15px;
                //right: -40px;
                font-size: 18px;
                color: #008000;
            }
            .title {
                text-align: center;
                work-break: break-all;
                width: 100%;
            }

            .tags {
                height: 20px;

                .tag-item {
                    font-size: 9px;
                    background-color: #f60;
                    color: #fff;
                    border-radius: 20px;
                    text-align: center;
                }
            }
        }
    }
}

ul.media-list {
    li.media {
        display: -webkit-flex;
        display: flex;
        overflow: visible;
        
        .media-body {
            -webkit-flex: 1;
            flex: 1;
        }
        .media-right {
            width: 120px;
            text-align: right;

            .post-to-wall {
                background-color: $brand-primary;
                color: #ffffff;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
        .project-note {
            width: 160px !important;
        }        
    }
}

.modal-project-info {
    .chat-info {
        .info {
            min-height: 50px;
            max-height: 250px;
        }
    }
}